<div class="navbar navbar-dark bg-dark shadow">
  <div>
    <%= link_to root_path, class: "btn btn-secondary nav-item" do %>
      <i class="fa fa-fw fa-home"></i> Home
    <% end %>
  </div>
  <div class="d-flex align-items-center nav-item">
    <% if user_signed_in? %>
      <div class="dropdown mr-5">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><%= current_user.email %>
          <span class="caret"></span></button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to root_path, class: "dropdown-item" do %>
            <i class="fas fa-chart-line"></i> Dashboard
          <% end %>
          <%= link_to root_path, class: "dropdown-item" do %>
            <i class="fas fa-user-edit"></i> Profile
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to root_path, class: "dropdown-item" do %>
            <i class="fas fa-sign-out-alt"></i> Log out
          <% end %>
        </div>
      </div>
    <% else %>
      <%= link_to new_user_session_path do %>
        <i class="fa fa-fw fa-user"></i> Login
      <% end %>
    <% end %>
  </div>
</div>