<p id="notice" class="alert alert-info"><%= notice %></p>
<div class="container mt-4">
  <div class="d-flex justify-content-center align-items-center border-green">
    <h1 class="font-weight-light d-line mt-3  bg-dark logo p-3 display-4 shadow text-light text-center">Commun<span class="bg-green mx-1 logo px-2 text-light ">EAT</span>y</h1>
    <h1 class="display-3 mb-0">Meals</h1>
  </div>
  <br>
  <br>
  <div class="container">
    <div class="row justify-content-center row-eq-height">
      <% @meals.each do |meal| %>
        <div class="card col-3 m-3 px-0 border-green">
          <div class="card-header">
            <div class="d-flex align-items-center justify-content-between">
              <h4 class="card-title mb-0"><%= meal.title %></h4>
              <div class="pl-2 d-flex justify-content-center align-items-center">
                <i class="fas fa-user-friends"></i>
                <%= meal.capacity %>
              </div>
            </div>
          </div>
          <div class="card-body">
            <p class="card-text"><%= meal.description %></p>
          </div>
          <%= link_to "Learn More!", meal_path(meal), class: "btn bg-green text-light rounded-0"  %>
        </div>
      <% end %>
    </div>
  </div>
</div>